.HomePage h2 {
  text-align: center;
}

.HomePage h3 {
  color: var(--color-app);
  text-shadow: 1px 0px 0px var(--font-color-app);
  text-align: center;
}

.HomePage p {
  text-indent: 50px;
  text-align: justify;
  font-style: italic;
}
