:root {
  --font-color-app: #fff;
  --background-color: #282c34;
  --color-app: #e93d44;
  --dark-color-app: #ba222a;
  /* --background-color: #1d1e20;
  --color-app: #3d71e0;
  --dark-color-app: #255cd4; */
  --sidenav-background-app: var(--dark-color-app);
}

.App {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

h2 {
  text-align: center;
  color: var(--font-color-app);
  text-shadow: 1px 2px 2px var(--color-app);
  margin: 15px 15px 15px 15px;
}
