@import url(https://fonts.googleapis.com/css?family=Roboto:900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.Error {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  height: inherit;
  justify-content: center;
  text-align: center;
  width: inherit;
}

.Error-Message {
  color: var(--font-color-app);
  text-transform: capitalize;
  margin: 25px 0 20px 0;
}

.Error-Label span {
  position: relative;
  background:var(--color-app);
  color: var(--font-color-app);
  font-size: 300%;
  padding: 0 20px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  transition: all 0.5s;
  cursor: pointer;
}

.Error-Label span:hover {
  background: var(--dark-color-app);
  color: var(--font-color-app);
  -webkit-animation: jelly 0.5s;
  -moz-animation: jelly 0.5s;
  -ms-animation: jelly 0.5s;
  -o-animation: jelly 0.5s;
  animation: jelly 0.5s;
}
