.PlayGame{
  height: 95%;
  width: 100%;
  
}

.SearchPanel{
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.SearchPanel input{
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 90%;
  flex-grow: 3;
}

.SearchPanel button, .ControlGame button{
  padding: 8px 30px;
  border-radius: 6px;
  border: none;
  flex-grow: 1;
  word-break: break-all;
  color: var(--font-color-app);
  text-decoration: none;
  background-color: var(--color-app);
  height: inherit;
  font-size: 60%;
  margin: 0 5px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.SearchPanel button:disabled{
  background: var(--dark-color-app);
}

.ControlGame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ControlGame-Item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}
.ControlGame-Item span{
margin-left: 10px;
margin-right: 10px;
}

.ControlGame-Button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}