.PokerCard {
  float: left;
  position: relative;
  margin: 10px 10px 0 0;
  width: 130px;
  height: 170px;
  font: 100px/160px 'Times New Roman';
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.PokerCard:before,
.PokerCard:after {
  position: absolute;
  font-size: 35px;
  line-height: 1;
}
.PokerCard:before {
  top: 10px;
  left: 10px;
}
.PokerCard:after {
  bottom: 10px;
  right: 10px;
  -webkit-transform: rotate(180deg);
}

.heart,
.diamond {
  color: #d00;
}
.spade,
.club {
  color: #000;
}

._1:before,
._1:after {
  content: 'A';
}
._2:before,
._2:after {
  content: '2';
}
._3:before,
._3:after {
  content: '3';
}
._4:before,
._4:after {
  content: '4';
}
._5:before,
._5:after {
  content: '5';
}
._6:before,
._6:after {
  content: '6';
}
._7:before,
._7:after {
  content: '7';
}
._8:before,
._8:after {
  content: '8';
}
._9:before,
._9:after {
  content: '9';
}
._10:before,
._10:after {
  content: '10';
}
._11:before,
._11:after {
  content: 'J';
}
._12:before,
._12:after {
  content: 'Q';
}
._13:before,
._13:after {
  content: 'K';
}

.Selected {
  box-shadow: 0px 0px 40px var(--color-app);
}

.FaceDown {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  margin-right: 100px;
  border: 2px dashed transparent;
  border-color: var(--dark-color-app);
  background-color: inherit;
}
